
.todo-input{
  box-sizing: border-box;
  align-self: stretch;
  border: none;
  outline: none;
  padding: 10px 10px;
  color: #636263;
  font-size: 20px;
  width: 100%;
}

.todo-form{
  align-self: stretch;
  border: none;
  border-bottom: 2px solid #E1E0E1;
  outline: none;
  margin: 10px 20px;
}
