.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* justify-content: space-between;  */
  align-content: center;
  align-items: center;
  color: #a0a0a0;
  margin: 12px 25px;
  font-size: 15px;
  box-sizing: border-box;
}

.control-radios {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.control-complete-all{
  margin-right: 150px;
}

.control-clear-completed{
  margin-left: 120px;

}


.control-radios input {
  appearance: none;
  outline: none;
}

.control-radios label {
  padding: 7px 5px;
  color: #2e2d2d
}

input:checked + label {
  border: solid #a0a0a0 2px;
  border-radius: 7px;
  padding: 8px 6px;
}

.hidden {
  visibility: collapse;
}
