.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
  color: #636263;
}

.todo-list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 15px 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.todo-input{
  box-sizing: border-box;
  align-self: stretch;
  border: none;
  outline: none;
  padding: 10px 10px;
  color: #636263;
  font-size: 20px;
  width: 100%;
}

.todo-form{
  align-self: stretch;
  border: none;
  border-bottom: 2px solid #E1E0E1;
  outline: none;
}

header{
  /* font-size: 1.5rem */
}

